@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&family=Source+Sans+Pro&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
}
header{
    /* border: 2px solid greenyellow; */
    width: 100%;
    height: 2.2rem;
    background-color: black;
    color: white;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    padding: 0 10px 5px 0 ;
}
body::-webkit-scrollbar {
    width: 0.8em;
  }
  
  body::-webkit-scrollbar-track {
    background: #252525;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #5e5e5e;
}
/* body{
    position: relative;

} */
/* ==================================================================================== */
.mynav{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    
}
.logo{
    width: 35px;
    height: 35px;
    margin: 4px;
}
.nav-link{
    /* border: 1px solid black; */
    color: black;
    font-size: 15px;
}
.d-flex{
    /* border: 2px solid green; */
    align-items: center;
    margin-right: 10px;
}
.search-icon{
    color: black;
}
.btn{
    background-color: blue;
    color: white;
    border-radius: 15px;
    border: none;
    margin-right: 20px;
}
.btn:hover{
    background-color: black;
}
/* =========================================================================================== */
.landing-display{
    /* border: 2px solid yellow; */
    width: 100%;
    height: 100vh;
    background-image: url("https://images.hdqwalls.com/wallpapers/devil-may-cry-dante-4k-qg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.landing-display-container{
    display: flex;
    align-items: center;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.863),rgba(0, 0, 0, 0.671),rgba(105, 105, 105, 0.425),rgba(202, 201, 201, 0.048),rgba(255, 255, 255, 0));
    width: 100%;
    height: 100%;
}
.landing-display-content{
    /* border: 2px solid maroon; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    color: white;
    width: 35%;
    height: 70%;
    margin-left: 10rem;
}
.landing-display-content img{
    width: 80%;

}
.landing-display-content p{
    /* padding: 20px; */
}
.landing-display-btn{
    /* border: 2px solid green; */
    border: none;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 8px;
    font-weight: bold;
}
.landing-display-btn:hover{
    outline: 2px solid white;
}
/* .landing-display::before{
    content: url("#x");
    background-image: url("https://i.ytimg.com/vi/dIQGI36BxDE/maxresdefault.jpg");
    width: 100%;
    height: 100vh;
}
.landing-display::after{
    background-image: url("https://i.ytimg.com/vi/dIQGI36BxDE/maxresdefault.jpg");
    width: 100%;
    height: 100vh;
} */

/* ========================================================================================= */
.game-tab{
    /* border: 2px solid yellow;  */
    margin: 40px auto;
    width: 80%;
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.game-tab-items{
    border: 2px solid white;
    width: 18%;
    height: 68%;
    border-radius: 15px;
}
.game-tab-items:hover{
    outline: 2px solid blue;
    margin-bottom: 10px;
}
#g1{
    background: url("img/g1.jpg");
    background-size: contain;
}
#g2{
    background: url("img/g2.webp");
    background-size: contain;
}
#g3{
    background-image: url("img/g3.jpg");
    background-size: contain;
}
#g4{
    background-image: url("img/g5.jpg");
    background-size: contain; 
}
#g5{
    background-image: url("img/g7.jpg");
    background-size: contain;
}
/* ========================================================================================= */
.ps-5-console{
    /* border: 2px solid saddlebrown; */
    width: 80%;
    height: 80vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ps-5-text{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4px;
    width: 30%;
    height: 80%;
    padding-left: 50px;
}
#ps-5-p1{
    font-size: 34px;
}
#ps-5-p2{
    font-size: 22px;
}
#ps-5-button{
    border-radius: 20px;
    border: 2px solid white;
    background-color: blue;
    outline: 2px solid white;
    color: white;
    padding: 6px 10px;
    width: 8rem;
}
#ps-5-button:hover{
    outline: 2px solid blue;
}
.ps-5-img{
    /* border: 1px solid greenyellow; */
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: center;
    
}
.ps-5-img img{
    /* border: 2px solid pink; */
    width: 64%;
    height: 100%;
}

/* ======================================================================================== */

.ps-5-acc{
    /* border: 2px solid purple; */
    margin: 40px auto;
    width: 80%;
    height: 30vh;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    grid-template-rows: 95%;
    justify-content: space-around;


}
.ps-5-acc-items{
    border: 2px solid white;
    padding: 2px;
    border-radius: 20px;
    opacity: 0.5;
}
.ps-5-acc-items:hover{
    border: 2px solid blue;
    opacity: 1;
}
.ps-5-acc-items img{
    /* border: 1px solid black; */
    width: 100%;
    height: 70%;
    border-radius: 20px;
}
.ps-5-acc-items p{
    /* border: 1px solid mediumturquoise; */
    text-align: center;
    margin-top: 2px;
}

/* ====================================================================================== */

.psPlus{
    /* border: 2px solid black; */
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    background: url("img/pspps.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.psPlus-txt{
    /* border: 2px solid green; */
    width: 30%;
    height: 70%;
    padding: 10px;
}
.psPlus-txt img{
    width: 300px;
    margin-top: 20px;
}
.psPlus-txt p{
    margin: 30px 0;
}
.psPlus-txt button{
    background-color: blue;
    color: white;
    padding: 2px 10px;
    border-radius: 20px;
    border: 1px solid blue;
}
.psPlus-txt button:hover{
    outline: 2px solid blue;
    border-color: white;
}
.psPlus-img{
    /* border: 2px solid red; */
    width: 30%;
    height: 70%;
}
.psPlus-img img{
    width: 100%;
    height: 90%;
    border-radius: 5px;
}

/* ========================================================================================= */

.this-mnth{
    /* border: 2px solid orange; */
    width: 100%;
    height: 100vh;
    background-image: url("https://asset.vg247.com/demons-souls-ps5-best-weapons.jpg/BROK/thumbnail/1600x900/format/jpg/quality/80/demons-souls-ps5-best-weapons.jpg");
}
.this-mnth-container{
    width: 100%;
    height: 100%;
    color: white;
    background: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.082),rgba(255, 166, 0, 0.856),orangered);
}
.mnth-top{
    /* border: 2px solid black; */
    width: 70%;
    height: 50%;
    margin: auto;
}
.mnth-top-items{
    /* border: 2px solid yellow; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.mnth-top-items h3{
    text-transform: uppercase;
    font-size: 36px;
    font-weight: lighter;
}
.mnth-top-items h2{
    text-transform: uppercase;
    font-size: 40px;
}
.mnth-top-items p{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.774);
}
.mnth-top-items button{
    background-color: white;
    border-radius: 20px;
    padding: 6px 10px;
    width: max-content;
    font-weight: bold;
    border: none;
}
.mnth-top-items button:hover{
    outline: 2px solid white;
}
.mnth-btm{
    /* border: 2px solid black; */
    width: 71%;
    height: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    grid-template-rows: 100%;
}
.mnth-btm-items{
    /* border: 2px solid maroon; */
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.mnth-btm-img{
    /* border: 2px solid green; */
    aspect-ratio: 16/9;
    border-radius: 15px;
}
.mnth-btm-img-1{
    background-image: url("https://static1.thegamerimages.com/wordpress/wp-content/uploads/2019/11/20-Best-PlayStation-4-Games-For-Couples.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.mnth-btm-img-1:hover{
    box-shadow: 1px 1px 2px black, 0 0 15px rgb(27, 27, 27), 0 0 5px black;
    margin-top: 1px;
}
.mnth-btm-img-2{
    background-image: url("https://hips.hearstapps.com/digitalspyuk.cdnds.net/12/27/gaming_all_stars_battle_royale_1.jpg?resize=480:*");
    background-repeat: no-repeat;
    background-size: cover;
}
.mnth-btm-img-2:hover{
    box-shadow: 1px 1px 2px black, 0 0 15px rgb(27, 27, 27), 0 0 5px black;
    margin-top: 1px;
}
.mnth-btm-img-3{
    background-image: url("https://www.psu.com/wp/wp-content/uploads/2019/09/PlayStationAllStarsBattleRoyale-1024x683.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.mnth-btm-img-3:hover{
    box-shadow: 1px 1px 2px black, 0 0 15px rgb(27, 27, 27), 0 0 5px black;
    margin-top: 1px;
}
.mnth-btm-items p{
    /* border: 2px solid red; */
    text-align: center;
    font-size: 25px;
    width: 90% ;
    margin: auto;
    margin-bottom: 4px;
}

/* ========================================================================================= */

.the-last{
    width: 100%;
    height: 100vh;
    background-image: url("https://img1.goodfon.com/wallpaper/nbig/e/80/the-last-of-us-joel-survivors.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid white;
    border-style: none none solid none;
}
.the-last-container{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,rgba(15, 15, 15, 0.918),rgba(77, 76, 76, 0.281),rgba(110, 109, 109, 0.116),rgba(255, 255, 255, 0));
    position: relative;
}
.the-last-txt{
    /* border: 2px solid green; */
    width: 30%;
    height: 34%;
    color: white;
    position: absolute;
    top: 36%;
    left: 4%;
    padding: 10px 20px;
}
.the-last-txt:hover{
    background-color: rgba(0, 0, 0, 0.342);
    border-radius: 15px;
}
.the-last-txt h2{
    font-size: 40px;
}
.the-last-txt p{
    margin: 20px 0px;
    font-size: 20px;
}
.the-last-txt button{
    background-color: orangered;
    padding: 4px 10px;
    border-radius: 18px;
    color: white;
    font-weight: bold;
    border: none;
}
.the-last-txt button:hover{
    outline: 2px solid orangered;
}

/* ==================================================================================== */

.new-release{
    /* border: 2px solid orange; */
    width: 100%;
    height: 100vh;
    background-color: rgb(22, 22, 22);
    color: white;
}
.new-release-container{
    /* border: 2px solid green; */
    width: 60%;
    height: 100vh;
    margin: auto;
}
.new-release-txt{
    /* border: 2px solid yellow; */
    width: 100%;
    height: 20%;
    font-size: 140%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.new-release-nav-button ion-icon{
    width: 50px;
    height: 50px;
}
.new-release-grid{
    /* border: 2px solid rgb(187, 14, 72); */
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 105px 105px 105px 105px 105px 105px;
    grid-template-rows: 180px 180px;
    gap: 60px 30px;
    justify-content: center;
}
.new-release-items{
    /* border: 2px solid wheat; */
    position: relative;
    top: 20%;
}
.new-release-items img{
    width: 100%;
    height: 105px;
    border-radius: 10px;
}
.new-release-items p{
    text-align: center;
    margin-top: 10px;
}

/* ======================================================================================= */

.explore-ps{
    /* border: 2px solid red; */
    width: 80%;
    height: 100vh;
    margin: 80px auto 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* .explore-ps:hover{
    box-shadow: 1px 1px 2px black, 0 0 15px rgb(27, 27, 27), 0 0 5px black;
} */
.explore-top{
    /* border: 2px solid rgb(35, 49, 35); */
    width: 40%;
    text-align: center;
    font-size: 110%;
}
.explore-btm{
    /* border: 2px solid darkgreen; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 70%;
}
.explore-items{
    /* border: 2px solid grey; */
    height: 85%;
    width: 30%;
}
.explore-items img{
    /* border: 2px solid blue; */
    width: 80%;
    height: 50%;
    position: relative;
    left: 40px;
    right: 0px;
    margin-bottom: 20px;
}
.explore-items button{
    background-color: blue;
    padding: 4px 10px;
    color: white;
    border-radius: 20px;
    border: none;
}
.explore-items button:hover{
    border: 2px solid blue;
}
/* ========================================================================================== */

.ps-store{
    /* border: 2px solid black; */
    width: 80%;
    height: 80vh;
    margin: -40px auto 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ps-store-txt{
    /* border: 2px solid yellow; */
    width: 25%;
    padding: 15px;
}
.ps-store-txt img{
    width: 90%;
    margin-bottom: 10px;
}
.ps-store-txt h2{
    /* font-weight: 400; */
}
.ps-store-txt p{
    margin: 10px auto;
    font-size: 15px;
}
.ps-store-txt button{
    padding: 4px 8px;
    background-color: orangered;
    color: white;
    border-radius: 20px;
    border: 1px solid orangered;
}
.ps-store-txt button:hover{
    border: 1px solid white;
    outline: 2px solid orangered;
}
.ps-store-img{
    /* border: 2px solid green; */
    width: 60%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ps-store-img img{
    /* border: 2px solid rebeccapurple; */
    /* width: 90%; */
    height: 61%;
    border-radius: 10px;
    transition: height 0.2s;
}
.ps-store-img img:hover{
    height: 62%;
    cursor: pointer;
}

/* =================================================================================== */

.ps-blog{
    /* border: 2px solid black; */
    width: 100%;
    height: 105vh;
    margin: 80px 0;
}
.ps-blog h1{
    /* border: 2px solid blue; */
    text-align: center;
    margin-bottom: 50px;
    font-weight: 400;
}
.ps-blog-content{
    /* border: 2px solid yellow; */
    height: 84vh;
    display: flex;
}
.ps-blog-items{
    /* border: 2px solid green; */
    height: 90%;
    width: 30%;
    margin: auto;
    font-size: 12px;
    border-radius: 15px;
    box-shadow: 0px 0px 0px black, 0 0 10px rgb(27, 27, 27), 0 0 4px black;
}
.ps-blog-items:hover{
    box-shadow: 1px 1px 2px black, 0 0 15px rgb(27, 27, 27), 0 0 10px black;
    cursor: pointer;
}
.ps-blog-items:hover img{
    box-shadow: 1px 1px 2px black, 0 0 15px rgb(27, 27, 27), 0 4px 5px black;
}
.ps-blog-items:active{
    outline: 2px solid blue;
}
.ps-blog-items img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 0px black, 0 0 10px rgb(27, 27, 27), 0 0 4px black;
}
.ps-blog-items h3{
    font-size: 19px;
    font-weight: 400;
    margin: 20px;
}
.ps-blog-items p{
    margin: 20px;
}

/* ======================================================================================= */

.follow{
    /* border: 2px dotted darkcyan; */
    width: 100%;
    height: 60vh;
    margin: 80px auto;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.follow h2{
    /* border: 2px solid brown; */
    /* text-align: center; */
    width: max-content;
    /* margin-top: 10px; */
}

.follow-icons{
    /* border: 2px solid palevioletred; */
    display: flex;
    justify-content: center;
}
.follow-icons div{
    /* border: 2px solid black; */
}
.follow-icons svg{
    width: 90px;
    height: 90px;
    margin: 30px;
    transition: margin-top 0.5s;
}
.social-div:hover svg{
    margin-top: 10px;
    color: blue;
    cursor: pointer;
}
.follow-icons svg:active{
    margin-top: 10px;
    color: blue;
    cursor: pointer;
}

/* ================================================================================= */
footer{
    /* border: 2px solid red; */
    background-color: royalblue;
    color: white;
    height: 90vh;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
    
    padding-top: 50px;
}
.footer-items{
    /* border: 2px solid black; */
    width: 36vw;
    height: 38vh;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fi-2{
    display: flex;
    flex-direction: row;
    /* height: 46vh; */
}
.footer-ul li{
    display: flex;
    margin: 10px 0;
}
.footer-items img{
    width: 20%;
    margin: 10px 0;
}